In [2]:
import pandas as pd
from sklearn.cluster import KMeans

In [3]:
## RFM => Regency (Último -> data - data - 1) / Frequency (quantidade -> n) / Monetary (soma/média -> R   ~x)

def rfm_variables(df):
    ## FREQUENCY
    f_sales = len(df) ## Quantidade de vendas 
    f_profit = len(df[df['Profit'] > 0]) ## Quantidade de vendas com lucros
    ## MONETARY
    m_sales = round(df['Sales'].sum(), 2) ## Total de vendas
    m_profit = round(df['Profit'].sum(), 2) ## Total de vendas com lucro
    m_quantity = df['Quantity'].sum() ## Total de quantidades
    m_deliver = round(df['Shipping Cost'].sum(), 2) ## Total do custo de entregas
    ## PERIODICITY
    df_sort = df[['Order Date']].sort_values(by='Order Date').drop_duplicates() ## Periodicidade
    df_sort['diff'] = df_sort['Order Date'] - df_sort['Order Date'].shift(1)
    df_sort['diff_int'] = df_sort['diff'].dt.days
    ## REGENCY
    r_days = round(df_sort['diff_int'].mean(), 2)
    return f_sales, f_profit, m_sales, m_profit, m_quantity, m_deliver, r_days

In [4]:
def fit_data(data, variable):
    rfm = pd.DataFrame()
    variables = data[variable].unique()
    for v in variables:
        var = data[data[variable] == v]
        f_sales, f_profit, m_sales, m_profit, m_quantity, m_deliver, r_days = rfm_variables(var)
        rfm = rfm.append(
            {
                'reference': v,
                'm_sales': m_sales,
                'm_profit': m_profit, 
                'm_quantity': m_quantity,
                'm_deliver': m_deliver,
                'r_days': r_days,
                'f_sales': f_sales, 
                'f_profit': f_profit
            },
            ignore_index = True
        )
    return rfm

In [5]:
data = pd.read_feather('database/GS.feather')
data

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,...,OMonth,OPeriod,Order Date Month,SYear,SMonth,SPeriod,Ship Date Month,Delivery,Price,Benefit
0,MX-2014-143658,2014-10-02,2014-10-06,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,...,10,46,2014-10-01,2014,10,46,2014-10-01,4,4.36,1
1,MX-2012-155047,2012-10-15,2012-10-20,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,...,10,22,2012-10-01,2012,10,22,2012-10-01,5,31.52,1
2,MX-2012-155047,2012-10-15,2012-10-20,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,...,10,22,2012-10-01,2012,10,22,2012-10-01,5,96.64,1
3,MX-2012-155047,2012-10-15,2012-10-20,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,...,10,22,2012-10-01,2012,10,22,2012-10-01,5,8.86,1
4,MX-2012-155047,2012-10-15,2012-10-20,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,...,10,22,2012-10-01,2012,10,22,2012-10-01,5,35.80,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,HU-2012-7730,2012-09-05,2012-09-07,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,...,9,21,2012-09-01,2012,9,21,2012-09-01,2,11.07,1
51286,HU-2012-7730,2012-09-05,2012-09-07,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,...,9,21,2012-09-01,2012,9,21,2012-09-01,2,30.72,1
51287,HU-2012-7730,2012-09-05,2012-09-07,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,...,9,21,2012-09-01,2012,9,21,2012-09-01,2,20.13,1
51288,HU-2012-7730,2012-09-05,2012-09-07,First Class,NF-8385,Natalie Fritzler,Consumer,Budapest,Budapest,Hungary,...,9,21,2012-09-01,2012,9,21,2012-09-01,2,32.61,1
51289,IZ-2011-5750,2011-08-25,2011-08-29,Standard Class,SZ-10035,Sam Zeldin,Home Office,Baghdad,Baghdad,Iraq,...,8,8,2011-08-01,2011,8,8,2011-08-01,4,31.62,1

# AULA 09 - Clusterização

In [8]:
variables = ['m_sales', 'm_profit', 'm_quantity', 'm_deliver', 'r_days', 'f_sales', 'f_profit']

In [ ]:
country_rfm = fit_data(data, 'Country')
country_rfm = country_rfm.fillna(0)
country_rfm['cluster'] = KMeans(
    n_clusters=3,
    random_state=0
).fit(
    country_rfm[
        variables
    ]
).labels_

country_rfm

In [ ]:
cluster = pd.DataFrame()

for index, row in enumerate(KMeans(n_clusters=3, random_state=0).fit(country_rfm[variables]).cluster_centers_):
    cluster = cluster.append(
        {
            'cluster': index,
            'clm_saless': row[0],
            'clm_profit': row[1],
            'clm_quantity': row[2],
            'clm_deliver': row[3],
            'clr_days': row[4],
            'clf_sales': row[5],
            'clf_profit': row[6]
        },
        ignore_index= True 
    ) 

cluster

In [ ]:
country_rfm = country_rfm.merge(cluster, on='cluster', how='left')
country_rfm

In [14]:
country_rfm.to_feather('database/clusterizacao_pais.feather')